.Phonetic {
    margin: 20px 0;
    text-align: center;
}

.Phonetic a{
    border: 1px solid #F25FC1;
    /*color: #F25FC1;*/
    text-decoration: none;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
    background: #F25FC1;
    color: white;
}

.Phonetic a:hover{
    background: white;
    color: #F25FC1;
}

.Phonetic .text {
    opacity: 0.5;
    font-weight: bold;
    margin-left: 10px;
}